.app_1_warp {
    width: 100%;
    height: 80%;
    top: 15%;
    left: 0;
    position: absolute;
}
.left {
    width: 64%;
    height: 88%;
    left: 5%;
    top: 8%;
    position: absolute;
}
.content {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    border-radius: 10rem;
    box-shadow: 2rem 2rem 3.5rem #0d0d0d,
             -2rem -2rem 3.5rem #333333;
}
.dodo{
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    position: absolute;
    overflow-y: scroll;
}
.dodo div{
    width: 45%;
    height: 20rem;
    margin-left: 4%;
    float: left;
}
.dodo p{
    font-size: 3rem;
    color: gray;
}
.dodo .name{
    color: aliceblue;
    font-size: 3.5rem;
}
.dodo::-webkit-scrollbar{
    width: 1rem;
    border-radius: 0.5rem;
}
.dodo::-webkit-scrollbar-track{
    background-color: #303030;
    border-radius: 0.5rem;
}
.dodo::-webkit-scrollbar-thumb{
    background-color: violet;
    border-radius: 0.5rem;
}
.right{
    width: 20%;
    height: 88%;
    background-color: #202020;
    right: 4%;
    top: 8%;
    position: absolute;
    border-radius: 6rem;
    /*box-shadow: inset 15px 15px 30px #0d0d0d,
             inset -15px -15px 30px #333333;*/
    box-shadow: 2rem 2rem 3.5rem #0d0d0d,
             -2rem -2rem 3.5rem #333333;
}
.right p{
    text-align: center;
    font-size: 4rem;
    color: aliceblue;
}
.catalog{
    height: 75%;
    width: 80%;
    left: 10%;
    bottom: 10%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}
.catalog a{
    text-decoration: none;
    color: violet;
}
.catalog a:hover{
    color: slateblue;
}
.catalog::-webkit-scrollbar{
    width: 1rem;
    border-radius: 0.5rem;
}
.catalog::-webkit-scrollbar-track{
    background-color: #303030;
    border-radius: 0.5rem;
}
.catalog::-webkit-scrollbar-thumb{
    background-color: violet;
    border-radius: 0.5rem;
}
