.app_2_warp{
    width: 100%;
    height: 80%;
    top: 15%;
    left: 0;
    position: absolute;
}
.app_2_left{
    width: 64%;
    height: 88%;
    left: 5%;
    top: 8%;
    position: absolute;
    border-radius: 10rem;
    box-shadow: 2rem 2rem 3.5rem #0d0d0d,
             -2rem -2rem 3.5rem #333333;
}
.cc_warp{
    width: 80%;
    height: 90%;
    left: 5%;
    top: 5%;
    position: absolute;
    border-radius: 6rem;
    background-color: #181819;
    box-shadow: 0 0 3rem inset #0d0d0d;
    transform-style: preserve-3d;
}
.cc_warp input {
    visibility: hidden;
    position: absolute;
}
#r21:checked ~.app_2_content{
    transform: translateZ(1px);
}
.app_2_content{
    width: 88%;
    height: 90%;
    left: 6%;
    top: 5%;
    position: absolute;
    font-size: 3rem;
    font-family: "微软雅黑";
    color: lightgray;
    background-color: #181819;
    overflow-y: scroll;
}
.app_2_code{
    width: 88%;
    height: 90%;
    left: 6%;
    top: 5%;
    position: absolute;
    font-size: 3rem;
    font-family: "微软雅黑";
    color: lightgray;
    background-color: #181819;
    overflow-y: scroll;
}
.app_2_change_l{
    width: 8%;
    height: 25rem;
    right: 4%;
    bottom: 8%;
    position: absolute;
}
.app_2_change_l label{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    display: block;
    background-color: #181819;
    position: absolute;
}
.app_2_change_l img{
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    position: absolute;
}
#l21{
    top: 0;
}
#l22{
    bottom: 0;
}
.app_2_change_r{
    width: 10%;
    height: 12%;
    right: 3%;
    top: 8%;
    position: absolute;
}
.app_2_change_r label{
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    position: absolute;
    background-color: #303030;
    transition: 0.4s all ease-in-out;
}
.app_2_change_r label:hover{
    background-color: violet;
}
#l21_{
    left: 0;
}
#l22_{
    right: 0;
}
pre{
    width: 90%;
    height: auto;
    white-space: pre-wrap;
    font-family: "微软雅黑";
}
.app_2_content::-webkit-scrollbar,.app_2_code::-webkit-scrollbar{
    width: 1rem;
    border-radius: 0.5rem;
}
.app_2_content::-webkit-scrollbar-track,.app_2_code::-webkit-scrollbar-track{
    background-color: #202020;
    border-radius: 0.5rem;
}
.app_2_content::-webkit-scrollbar-thumb,.app_2_code::-webkit-scrollbar-thumb{
    background-color: violet;
    border-radius: 0.5rem;
}
/*---------------------------------*/
.app_2_right{
    width: 20%;
    height: 88%;
    background-color: #202020;
    right: 4%;
    top: 8%;
    position: absolute;
    border-radius: 6rem;
    box-shadow: 2rem 2rem 3.5rem #0d0d0d,
             -2rem -2rem 3.5rem #333333;
    transform-style: preserve-3d;
}
.app_2_right input{
    visibility: hidden;
    position: absolute;
}
#r21_:checked~.app_2_chapter{
    transform: translateZ(1px);
}
.app_2_list{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #202020;
    border-radius: 6rem;
}
.app_2_list p{
    text-align: center;
    font-size: 3.6rem;
    color: aliceblue;
}
.app_2_scroll{
    width: 80%;
    height: 75%;
    left: 10%;
    top: 15%;
    position: absolute;
    overflow-y: scroll;
}
.app_2_scroll p{
    text-align: center;
    font-size: 3.6rem;
    color: aliceblue;
}
.app_2_scroll a{
    text-decoration: none;
    color: violet;
}
.app_2_scroll a:hover{
    color: slateblue;
}
.app_2_scroll::-webkit-scrollbar{
    width: 1rem;
    border-radius: 0.5rem;
}
.app_2_scroll::-webkit-scrollbar-track{
    background-color: #303030;
    border-radius: 0.5rem;
}
.app_2_scroll::-webkit-scrollbar-thumb{
    background-color: violet;
    border-radius: 0.5rem;
}